@charset "UTF-8";

/*
    Paleta de cores
    verde:rgb(0, 59, 2)
    Vermelho: #ab0000
*/
:root{
    --verde: #003b02;
    --vermelho: #450000;

}

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html{
    background-color: var(--vermelho);
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    width: 100vw;
    height: 100vh;
    
}

#login{
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.494);
    transform: translate(-50%, -50%);
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
    
}

div#imagem{
    display: block;
    background: var(--verde) url(../imagens/pexels-joelalencar-20886251.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: 200px;
}

div#formulario{
    display: block;
    padding: 10px;
}

#formulario > h1{
    text-align: center;
    margin-bottom: 10px;

}

#formulario > p{
    font-size: 0.8em;
    margin-left: 10px;
    margin-right: 10px;
}

.campo{
    background-color: white;
    width: 100%;
    display: block;
    height: 39px;
    border-radius: 10px;
    margin: 5px 0px;
    border: 2px solid var(--verde);
}

.campo > label{
    display: none;
}



.botaoEntrar{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: var(--verde);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.botaoEntrar:hover{
    background-color: #012502;
}

.botao{
    display: block;
    text-align: center;
    padding-top: 6px;
    font-size: 1em;
    width: 100%;
    height: 40px;
    color: #012502;
    background-color: white;
    border: 1px solid #012502;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 5px;
}

.botao:hover{
    background-color: #007104;
}

#iconeLogin, #iconeSenha{
    width: 35px;
    height: 35px;
    padding: 5px;
    
    
}

.campo > input{
    background-color: var(--verde);
    font-size: 1em;
    width: calc(100% - 39.4px);
    height: 100%;
    border: none;
    border-radius: 8px;
    padding: 5px;
    transform: translateY(-10.8px);
}

.campo > input:focus-within{
    background-color: white;
    border: none;
}

